body{
    padding: 2em;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 6%;
}

h1{
    padding-left: 30px;
    color: white;
    font-size: 3em;
}
.ccontainer{
    cursor: pointer;
    height: 400px;
    width: 600px;
    perspective: 800px;
    position: relative;
    margin: auto;
    transition: ease-in;
}

.card {
    height: 400px;
    width: 600px;
    position: absolute;
    border: 2px solid #330000;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: all 0.6s ease-in-out;
}

.card:hover {
    transform: rotateY(180deg);
    transition: all 0.6s ease-in-out;
}

.card .front{
    height: 400px;
    width: 600px;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: rgb(255, 251, 251,1 )
}

.card .back{
    height: 400px;
    width: 600px;
    text-align: center;
    transform: rotateY(180deg);

}

.questions{
    color: #333333;
    font-size: 2.3em;
    padding-top: 20%;
    text-align: center;
}

.answers{
    color: #333333;
    font-size: 2.3em;
    padding-top: 30%;
    text-align: center;
}

/*DrawButton*/

.btn {
    font-size: 1.5em;
    border:none;
    width: 200px;
    height: 70px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ecf0f1;
    box-shadow: 0px 6px #2c3e50;
    background: #34495e;
    margin: auto;
    margin-top: 20px
}

.btn:active{
    border:none;
    position: relative;
    top: 3px;
    box-shadow: 0 0 #2c3e50;
    background: #2c3e50;
}

.cardRow{
    display: block;
    padding:5px;
}

.btnRow{
    display: block;
    padding:5px;
}