.container{
    cursor: pointer;
    height: 400px;
    width: 400px;
    perspective: 800px;
    position: relative;
    margin: auto;
    transition: ease-in;
}

.card {
    height: 400px;
    width: 400px;
    position: absolute;
    border: 1px solid #330000;
    transform-style: preserve-3d;
    transition: all 0.4s ease-in-out;
}

.card:hover {
    transform: rotateY(180deg);
    transition: all 0.4s ease-in-out;
}

.card.front{
    height: 400px;
    width: 400ps;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: rgb(255, 251, 251,1 )
}

.card.back{
    height: 400px;
    width: 400px;
    text-align: center;
    transform: rotateY(180deg) 
}

.questions{
    color: #333333;
    font-size: 2.3em;
    padding-top: 40%;
}

/*DrawButton*/

.btn {
    font-size: 1.5em;
    border:none;
    width: 200px;
    height: 70px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ecf0f1;
    box-shadow: 0px 6px #2c3e50;
    background: #34495e;
    margin: auto;
    margin-top: 20px
}

.btn:active{
    border:none;
    position: relative;
    top: 3px;
    box-shadow: 0 0 #2c3e50;
    background: #2c3e50;
}

.cardRow{
    display: block;
    padding:5px;
}

.btnRow{
    display: block;
    padding:5px;
}